.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #41561f;
  border-radius: 8px;
  background-color: #9acd32;
  margin-top: 50px;
  padding: 16px;
}

.createLabel {
  color: #41561f;
  font-weight: bold;
}

.createInput {
  margin: 2px 0 10px;
  border-radius: 8px;
  border: none;
  height: 40px;
  padding-left: 10px;
}

@media screen and (min-width: 600px) {
  .container {
    width: 30%;
    padding: 2em;
  }
}
