button {
  cursor: pointer;
  color: #e3e7da;
  background-color: #9acd32;
  border: none;
  border-radius: 10px;
  height: 3em;
  min-width: 200px;
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;
}

button:hover {
  background-color: #39500b;
}

.primary {
  background-color: #709722;
  color: #e3e7da;
}
