header {
    width: 100%;
}


.link {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 2em;
    margin-top: 0.5em;
    color:  #849f54;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
}

.link:hover {
    color: #816882;
}